body{
    background-color: rgb(241, 241, 252);
 }
 @media(max-width:54.75em){    
html{
font-size: 90%;
}
 }
 @media(max-width:46.875em){    
html{
font-size: 80%;
}
 }
 @media(max-width:41.375em){    
html{
font-size: 70%;
}
 }
 @media(max-width:36.25em){    
html{
font-size: 60%;
}
 }
 @media(max-width:31.25em){    
    html{
    font-size: 88%;
    }
    }
/* Header */
 
    .header{
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    margin-top: -.8%;
    box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
    width: 100% !important;
    margin-top: 0rem;
    }
    @media(max-width:81.25em){    
        .header{
        position: fixed;
        background-color: rgb(255, 255, 255);
        z-index: 10;
        /* margin-top: -.8%; */
        box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
        width: 100% !important;
    /* padding-bottom: .5rem;  */
    }
    }
    @media(max-width:78.75em){    
        .header{
        position: fixed;
        background-color: rgb(255, 255, 255);
        z-index: 10;
        margin-top: -5rem !important;
        box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
        width: 100% !important;
    /* padding-bottom: .5rem;  */
    }
    }
    @media(max-width:58.75em){    
    .header{
    position: fixed;
    /* top: -.001rem; */
    background-color: rgb(255, 255, 255);
    /* z-index: 10; */
    margin-top: -5rem !important;
    box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
    width: 100% !important;
    /* padding-bottom: .5rem;  */
    }
    }
    @media(max-width:31.25em){    
    .header{
    position: fixed;
    /* top: -.001rem; */
    background-color: rgb(255, 255, 255);
    z-index: 10;
    margin-top: -.8%;
    box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
    width: 100% !important;
    padding-bottom: .5rem;
    /* margin-left: -.5rem;  */
    }
    }           
    a{
        color: black;
    }
    .icon{
    color: #1877F2;
    font-size: 2.5rem;
    margin-top: .2rem;
    position: relative;
    top: .4rem;
    margin-left: .5rem;
    cursor: pointer;
    }    
    .search-logo{
    border-radius: 5rem;
    background-color: rgb(241, 241, 252);
    border: hidden;
    position: relative;
    top: -.1rem;
    padding: .7rem;
    margin: .4rem;
    font-size: 96%;
    color: rgb(161, 161, 161);
    }
            
        @media(max-width:81.25em){        
        .search-logo{
        display: inline;
        border-radius: 5rem;
        background-color: rgb(241, 241, 252);
        border: hidden;
        position: relative;
        top: -.1rem;
        padding: .7rem;
        margin: .4rem;
        font-size: 96%;
        color: rgb(161, 161, 161);
        }
        }
        .search-bar{
        display: inline;
        cursor: pointer;
        }
        .header-icon{ 
        margin-left: 17%;
        cursor: pointer;
       }
        @media(max-width:81.25em){    
        .header-icon{
        margin-left: 16.7%;
        cursor: pointer;
        }
        }
        @media(max-width:78.125em){    
        .header-icon{
        margin-left: 16.4%;
        }
        }
        @media(max-width:73.125em){    
        .header-icon{
        margin-left: 15.8%;
        }
        }
        @media(max-width:62.75em){    
        .header-icon{
        margin-left: 8.7%;
        }
        }
        .icons{
        font-size: 1.5rem;
        /* margin-left: 7%; */
        margin-left: 3.2%;
        padding: .9% 2%;
        cursor: pointer;
        }
        .icons:hover{
        background-color: rgb(241, 241, 255);
        border-radius: .5rem;
        }
        @media(max-width:55em){    
        .icons{
        font-size: 1.5rem;
        margin-left: 2.4%;
        cursor: pointer;
        }
        }
        @media(max-width:50em){    
        .icons{
        font-size: 1.5rem;
        margin-left: 1%;
        cursor: pointer;
        }
        }
        @media(max-width:43.75em){    
        .icons{
            display: none;
        font-size: 1.5rem;
        margin-left: 4.7%;
        cursor: pointer;
        }
        }
        .nav-btn{
            display: none;
        }
        @media(max-width:43.75em){    
        .nav-btn{
        display: inline;
        font-size: 1.5rem;
        margin-left: 1rem;
        color: rgb(93, 91, 91);
        }
        }
        .lines{
            display: none;
        }   
        @media(max-width:68.75em){    
        .lines{
        display:inline;
        /* color: rgb(66, 66, 66); */
        }  
        }
        @media(max-width:43.75em){    
        .lines{
        display:none;
        }  
        }
        @media(max-width:68.75em){    
        .responsive-box{
        display: none;
        font-size: 1.5rem;
        margin-left: 7%;
        cursor: pointer;
        }
        }
        .header-icons{
        font-size: 1.5rem;
        margin-left: 9%;
        cursor: pointer;
        display: inline;
        }
        @media(max-width:54.75em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 14%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:46.875em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 18%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:43.75em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 52%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:31.25em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 31%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:29.375em){    
        .header-icons{
        margin-left: 22%;
        }
        }
        @media(max-width:25.25em){    
        .header-icons{
        margin-left:15%;
        }
        }
        @media(max-width:22.875em){    
        .header-icons{
        margin-left: 6%;
        }
        }
        @media(max-width:21em){    
        .header-icons{
        margin-left: 3%;
        }
        }
        .group-icon{
        width: 7rem;
        height: .15rem !important;
        background-color: #0c2c69 !important;
        position: absolute;
        color: #002874 !important;
        border: hidden;
        left: 53.8%;
        margin-top: -.15rem;
        }
        @media(max-width:81.25em){    
        .group-icon{
        width: 7rem;
        height: .15rem;
        background-color: #5089f3;
        position: absolute;
        top: 3.7rem;
        color: #5089f3;
        border: hidden;
        left: 54.2%;
        margin-top: -.15rem;
        }
        }
        @media(max-width:75em){    
        .group-icon{
        width: 6rem;
        height: .15rem;
        background-color: #0b2b68;
        position: absolute;
        top: 3.7rem;
        color: #042562;
        border: hidden;
        left: 55.2%;
        margin-top: -.15rem;
        }
        }
        @media(max-width:66.25em){    
        .group-icon{
        left: 56.2%;
        }
        }
        @media(max-width:62.75em){    
        .group-icon{
        left: 50.5%;
        }
        }
        @media(max-width:59.375em){    
        .group-icon{
        left: 51.5%;
        }
        }
        @media(max-width:54.75em){    
        .group-icon{
        left: 47.5%;
        }
        }
        @media(max-width:50em){    
        .group-icon{
        left: 43.5%;
        }
        }
        @media(max-width:46.75em){    
        .group-icon{
            height: .2rem;
        left: 42.7%;
        }
        }
        @media(max-width:43.75em){    
        .group-icon{
            display: none;
        }
        }
        .home{
        color:#2a74ff;
        }
        .owner-name{
        display: inline;
        font-size: 70%;
        margin-right: -1.2rem;
        }
        @media(max-width:81.25em){    
        .owner-name{
        display: none;
        font-size: 70%;
        margin-right: .5rem;
        }
        }
        .header-pic{
        width: 2rem;
        /* margin-left: 2rem; */
        border-radius: 50%;
        position: relative;
        /* top: .7rem; */
        }
        @media(max-width:81.25em){    
        .header-pic{
        display: none;
        width: 2.2%;
        border-radius: 50%;
        position: relative;
        top: .7rem;
        }
        }
        
    .header-2-icon{
        border-radius: 50%;
        background-color: rgb(241, 241, 252);
        padding: .55rem;
        /* font-size: 80%; */
        cursor: pointer;
        margin-left: -.5rem;
        margin-right: -.5rem;    
        font-size: 1.2rem;
        }
        @media(max-width:68.75em){    
        .header-2-icon-messenger{
        padding-left: -4rem !important;
        margin-left: -1.5rem;
        /* Pehlay ye solve kerna ha  */
        padding-right: -1.5rem;
        font-size: 1.2rem;
        }
        }
    @media(max-width:68.75em){    
        .box-responsive{
        display: none;
        }
        }
        .header-2-icon:hover,.header-2-icon-last:hover{
        background-color: rgb(224, 224, 255);
        }
        @media(max-width:68.75em){    
        .box-responsive{
        display: none;
        }
        }
        .responsive-plus{
        display: none;
        }
        @media(max-width:68.75em){    
        .responsive-plus{
        display: inline;
        margin-right: -1.5rem;
        }
        }
        .header-2-icon-last{
        border-radius: 100%;
        background-color: rgb(241, 241, 252);
        padding: .55rem .7rem;
        padding-top: .3rem;
        /* font-size: 85%; */
        margin-left: -.5rem;
        margin-right: -.5rem;
        font-size: 1.2rem;            
    }
    .dropdown{
        padding: .5rem 1rem;
        
        }
        .dropdown-search{
        border-radius: 5rem;
        background-color: rgb(241, 241, 252);
        border: hidden;
        padding: .5rem;
        padding-left: .5rem;
        padding-right: 9rem;
        cursor: pointer;
        margin-top: .4rem;
        }
        .dropdown-search:hover{
        background-color: rgb(227, 227, 253);
        }
        .social{
            margin-top: 1rem;
            margin-left: .4rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 600;
            font-size: 120%;
            cursor: text;
        }
        .menu{
            padding: .4rem 1rem;
            padding-bottom: -.3rem !important;
        border-radius: .5rem;
        }
        .menu:hover{
        background-color: rgb(241, 241, 252);
        }
        .icon-friend{
            color: #4d96f5;
            font-size: 140%;
            position: relative;
            top: .4rem;
        }
        .campus{
            display: inline;
            color: black;
            font-weight: 600;
            padding-left: .5rem;
            margin-bottom: 0%;
        }
        .information{
            font-size: 80%;
            margin-left: 12%;
            margin-bottom: 0%;
        }
        .dropdown-flag{
        color: rgb(255, 136, 0);
        }
        .dropdown-group{
        background-color: #1877F2;
        border-radius: 50%;
        color: #fff;
        padding: .5rem;
        font-size: 95%;
        margin-left: -.4rem;
        }
        .menu-messenger{
            padding: 0 1rem;
            padding-bottom: .3rem !important;
            border-radius: .5rem;
            margin-top: 1rem;
        }
        .menu-messenger:hover{
        background-color: rgb(241, 241, 252);
        }
        .dropdown-Messenger{
            font-size: 150%;
            color: black;
            font-weight: 600;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            display: inline;
        }
        .dotes{
            margin-left: 14%;
            padding: .6rem;
            border-radius: 50%;
        }
        .dotes:hover{
        background-color: rgb(235, 235, 253); 
        }
        .messenger-icon{
            margin-left: 1%;
            padding: .6rem;
            border-radius: 50%;
        }
        .messenger-icon:hover{
        background-color: rgb(235, 235, 253); 
        }
        .messenger-dp{
            width: 3rem;
            border-radius: 50%;
            margin-left: -.5rem;
            /* margin-top: 1rem; */
            display: inline;
            position: relative;
            top: 1rem;
            /* left: .5rem; */
        }
        .dropdown-dp-name{
            color: black;
            margin-top: -2rem;
            margin-left: 3rem;
            margin-bottom: 0%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .messenger-information{  
        font-size: 80%;
        margin-left: 15%;
        margin-bottom: 0%;
        }
        
        .menu-messenger-2{
            padding: 0 1rem;
            padding-bottom: .3rem !important;
            border-radius: .5rem;
            /* margin-top: 1rem; */
        }
        .menu-messenger-2:hover{
        background-color: rgb(241, 241, 252);
        }
        .notification{
            /* display: hidden !important; */
        width: 20rem;
        }
        .arrow{
        width: 24rem;
        }
        .profiles{
            /* font-size: 90%; */
            width: 22.7rem;
            margin: auto;
        padding-bottom: .01rem;
        border-radius: .5rem;
        }
        .profiles:hover{
        background-color: rgb(235, 235, 253);
        }
        .dropdown-pic{
            width: 3.5rem;
            border-radius:50%;
            display: inline;
            margin-left: .5rem;
        position: relative;
        top: .6rem;
        }
        .my-name{
            display: inline;
            margin-left: .5rem;
            margin-bottom: 0%;
        }
        .profile{
        margin-left: 5rem;
        margin-top: -1.3rem;
        color: rgb(71, 66, 66);
        }
        .dropdown-line{
            width: 90%;
            margin: auto;
            margin-top: .5rem ;
        margin-bottom: .5rem;
        }
        .dropdown-msg{
        padding: .5rem;
        padding-bottom: .1rem;
        width: 95%;
        margin: auto;
        border-radius: .5rem;
        position: relative;
        }
        .dropdown-msg:hover{
        background-color: rgb(245, 245, 255);
        }
        .dropdown-msg-2{
        padding: 1rem;
        /* padding-bottom: .1rem; */
        width: 95%;
        margin: auto;
        border-radius: .5rem;
        position: relative;
        }
        .dropdown-msg-2:hover{
        background-color: rgb(245, 245, 255);
        
        }
            
        .msg{
        display: inline;
        font-size: 1rem;
        padding: .7rem;
        border-radius: 50%;
        position: relative;
        top: .5rem;
        left: .3rem;
        background-color: rgb(224, 224, 255);
        }
        .msg-2{
        display: inline;
        font-size: 1.4rem;
        padding: .4rem ;
        border-radius: 50%;
        position: relative;
        /* top: .5rem; */
        left: 0rem;
        background-color: rgb(224, 224, 255);
        }
        .Direction{
            margin-left: 8rem;
            font-size: 1.5rem;
        color: rgb(100, 100, 100);
        }
        .Direction-1{
            margin-left: 8.5rem;
            font-size: 1.5rem;
        color: rgb(100, 100, 100);
        }
        .Direction-2{
            margin-left: 5.5rem;
            font-size: 1.5rem;
        color: rgb(100, 100, 100);
        }
        .Direction-3{
            margin-left: 11.5rem;
            font-size: 1.5rem;
        color: rgb(100, 100, 100);
        }
        .feedback{
        margin-top: 10rem;
        margin-bottom: 0;
        display: inline;
        margin-left: 1.3rem;
        position: relative;
        padding-top: 2rem;
        }
        .feedback-2{
        margin-top: 10rem;
        margin-bottom: 0;
        display: inline;
        margin-left: .5rem;
        position: relative;
        padding-top: 2rem;
        }
        
        .feedback-help{
        margin-left: 4rem;
        font-size: 85%;
        color: rgb(95, 90, 90);
        }
        .menu-notification{
            margin-top: 1.7rem;
            padding: 0 1rem;
            padding-bottom: .3rem !important;
            border-radius: .5rem;
            width: 105%;
            margin-left: -.5rem;
        }
        .menu-notification:hover{
        background-color: rgb(241, 241, 252);
        }
        .menu-notification-2{
            padding: 0 1rem;
            padding-bottom: .3rem !important;
            border-radius: .5rem;
            width: 105%;
            margin-left: -.5rem;
        }
        .menu-notification-2:hover{
        background-color: rgb(241, 241, 252);
        }
        .notifi{
            font-size: 1.5rem;
        display: inline;
        color: black;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        cursor: text;
        }
        .notification-dotes{
        padding: .5rem;
        border-radius: 50%;
        font-size: 1.1rem;
        display: inline;
        margin-left: 40%;
        color: rgb(63, 59, 59);
        }
        .notification-dotes:hover{
        background-color: rgb(231, 231, 255);
        }
        .all{
        background-color: rgb(232, 247, 248);
        border-radius: 50%;
        /* width: 1rem; */
        padding: .4rem .6rem;
        text-decoration: none;
        display: inline;
        position: relative;
        top: .7rem;
        left: -2rem;
        color:#1877F2;
        /* margin-bottom: .5rem; */
        }
        .all:hover{
        background-color: rgb(213, 252, 255);
        }
        .unread{
            border-radius: 1rem;
            padding: .4rem .7rem;
            background-color: rgb(235, 235, 250);
            display: inline;
            position: relative;
            top: .7rem;
            left: -2rem;
            font-weight: 600;
        }
        .unread:hover{
            background-color: rgb(224, 224, 255);
        }
        .new{
            margin-top: 1.8rem;
            cursor: text !important;
            margin-bottom: 0 !important;
            /* display:block; */
            float: left;
            position: relative;
            top: 1.4rem;
            font-size: 1.2rem;
            font-weight: 600;
        
        }
        .see-all{
            position: relative;
            top: 1.6rem;
            left: 70%;
            font-weight: 600;
        color: #1877F2;
        padding: .2rem 0rem;
            /* display: inline; */
            /* float: right; */
        /* width: 5rem; */
        }
        .see-all:hover{
            background-color: rgb(227, 227, 253);
        }
/* sidebar */

.sidebar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    width: 21rem;
    padding-top: 5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 42, 42);
padding-bottom: 7rem;
/* margin-top: -5rem !important ; */
}

@media(max-width:78.75em){        
    .sidebar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    width: 21rem;
    padding-top: 5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 42, 42);
    padding-bottom: 7rem;
    margin-top: -5rem !important ;
    }   
    }
    @media(max-width:54.75em){        
    .sidebar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    width:38.4%;
    padding-top: 5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 42, 42);
    padding-bottom: 7rem;
    }   
    }
    @media(max-width:31.25em){        
    .sidebar{
    display: none;
    }   
    }
.name{
    margin-top: 15rem !important;
    display: inline;
    position: relative;
    top: -.7rem;
    left: 1rem;
}
.sidebar-search{
    width: 90%;
    border-radius: 5rem;
    background-color: rgb(241, 241, 252);
    border: hidden;
    position: relative;
    top: -.1rem;
    padding: .5rem 7rem;
    padding-left: 1.5rem;
    margin: .5rem;
    font-size: 90%;
    color: rgb(80, 74, 74);
    }
    @media(max-width:54.75em){        
    .sidebar-search{
    width: 90%;
    }   
    }
    .setting{
    margin-left: 12rem;
    background-color: rgb(241, 241, 252);
    padding: .5rem;
    border-radius: 50%;
    position: relative;
    top: -.7rem;
    cursor: pointer;
    }
.my-pic-2{
    margin-top: 1.1rem;
    margin-bottom: .8rem;
    margin-left: 1rem;
    /* width: 8%; */
    /* height: 50%; */
    font-size: 140%;
    border-radius: 50%;
}
.left-side-1{
background-color: rgb(241, 241, 252);
width: 95%;
margin-top: .5rem;
margin-left: .4rem;
cursor: pointer;
}
.left-side{
    cursor: pointer;
    margin-left: .4rem;
}
.left-side:hover{
    cursor: pointer;
background-color: rgb(241, 241, 252);
width: 95%;
}

.left-side-smash{
    padding-top: .5rem;
    cursor: pointer;
}
.left-side-smash:hover{
    cursor: pointer;
background-color: rgb(241, 241, 252);
/* padding: .2rem; */
}
.friend{
color:  #4d96f5;
cursor: pointer;
}
.group{
    background-color: #5089f3 !important;
    color: #fff;
    font-size:100%;
    /* height: 1rem; */
    padding: .4rem;
    border-radius: 50%;
    cursor: pointer;
}
.name-2{
    display: inline;
    position: relative;
    top: -.2rem;
    left: .4rem;
}
.name-3{
width: 92%;
position: relative;
top: 0.3rem;
left: 3.5%;
color: rgb(10, 168, 241);
text-align: center;
padding: .5rem;
background-color: rgb(220, 248, 240);
cursor: pointer;
}
.name-3:hover{
background-color: rgb(208, 235, 227);
}
.line{
width: 94%;
color: rgb(255, 255, 255);
}
.group-line{
font-weight: 600;
margin-left: 1rem;
cursor: pointer;
}
.Side-pic{
    width: 18%;
    border: 1px solid rgb(230, 218, 218);
    margin-left: 1rem;
}
.group-name-2{
    display: inline;
position: relative;
top: -.5rem;
left: .5rem;
color: black;
}
.group-date{
    margin-top: 0;
    display: inline;
margin-left: 5.7rem;
position: relative;
top: -2rem;
font-size: 86%;
color: rgb(107, 102, 102);
}

/* Center side */
.center-side{
    /* background-color: #fff; */
    width: 31rem;
    margin: auto;
    position: relative;
    top: 3rem;
    left: -1rem;
}

@media(max-width:78.75em){        
    .center-side{
    width: 31rem;
    margin-left: 45%;
    position: relative;
    top: 3rem;
    }
    }
    @media(max-width:62.5em){        
    .center-side{
    width: 31rem;
    margin-left: 43%;
    position: relative;
    top: 3rem;
    }
    }
    @media(max-width:54.75em){        
    .center-side{
    width: 58%;
    margin-left: 43%;
    margin-right: 1%;
    position: relative;
    top: 3rem;
    }
    }
    @media(max-width:35em){    
    .center-side{
    width: 58%;
    margin-left: 43.5%;
    margin-right: 1%;
    position: relative;
    top: 3rem;
    }
    }
    @media(max-width:31.25em){    
    .center-side{
    width: 99.5%;
    margin: 0%;
    margin-left:3.1%;
    /* margin: auto; */
    font-size: 100%;
    /* margin-left: 10%; */
    }
    }
    @media(max-width:26.25em){    
    .center-side{
    width: 101%;
    margin-left:3%;
    font-size: 100%;
    /* margin-left: 10%; */
    }
    }
    @media(max-width:23.5em){    
    .center-side{
    width: 101%;
    margin-left:3.5%;
    }
    }
    @media(max-width:23.5em){    
    .center-side{
    width: 101%;
    margin-left:3.5%;
    }
    }
    @media(max-width:21.5em){    
    .center-side{
    width: 101%;
    margin-left:4%;
    }
    }
        
    /* @media(max-width:28.75em){    
    .center-side{
    width: 31rem;
    margin-left: 7%;
    }
    } */
    /* @media(max-width:28.75em){    
    .center-side{
    width: 100%;
    margin-left: 3%;
    }
    } */
   .center-responsive-card{
    display: none;
    } 

    @media(max-width:78.75em){        
    .center-responsive-card{
        margin: auto;
    
    margin-top: 5rem;
    background-color: #fff !important;
    display: block;
    margin-bottom: 2.5rem !important;
    padding-bottom: 2rem !important;
    border-radius: .5rem !important;
    width: 93%;
    } 
    }
    .more-group{
    display: none;
    color: rgb(75, 71, 71);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    }
    @media(max-width:78.75em){        
    .more-group{
    margin-left: 5%;
    display: block;
    color: rgb(75, 71, 71);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    }
    }
    @media(max-width:31.25em){        
        .more-group{
        display: block;
        color: rgb(75, 71, 71);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    /* margin-left: 5%; */
    }
        }
    /* Post 1 */
    .center-side-post{
    background-color: #fff;
    border-radius: .5rem;
    position: relative;
    top: 3rem;
    }
    .fb-last-post{
        padding-bottom: 1rem;
        margin-bottom: 8rem !important;
    }
    .fb-dp{
    width: 8%;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: .8rem;
    border: .2rem solid #1877F2;
    cursor: pointer;
    position: relative;
margin-bottom: .5rem;
}
    .user-name{
    display: inline;
    position: relative;
    /* top: -1rem; */
    left: .4rem;
    cursor: pointer;
    }
    .post-date{
    font-size: 80%;
    display: inline;
    position: relative;
    top: 1rem;
    left: -6rem;
    cursor: pointer;
    }
    .upload-pic{
    width: 100%;
    margin-bottom: .5rem;
    cursor: pointer;

}
.like{
    margin-left: 1rem;
    font-size :70%;
    color: #fff;
    background-color: #1877F2;
    padding: .3rem;
    border-radius: 50%;
    cursor: pointer;
}
.heart{
    font-size :70%;
    color: #fff;
    background-color: red;
    padding: .3rem;
    border-radius: 50%;
    cursor: pointer;
}
.like-name{
    display: inline;
    /* font-size: 110%; */
    color: rgb(80, 74, 74);
    cursor: pointer;
}
.comments{
float: right;
margin-right:1rem ;
cursor: pointer;
}
.coment-line{
    color: rgb(80, 74, 74);
width: 90%;
margin: auto;
margin-top:.6rem;
margin-bottom: .7rem;
}
.feed-back{
    display: inline;
color: rgb(80, 74, 74);
margin-left: 17%;
font-size: 105%;
cursor: pointer;
}
.feed-back:active,
.feed-back:hover,
.feed-back-2:active,
.feed-back-2:hover,    
.feed-back-3:active,
.feed-back-3:hover {
    color: #1877F2;
}
/* .feed-back:active{
    color: blue;
} */
@media(max-width:27.5em){        
.feed-back{
display: inline;
color: rgb(80, 74, 74);
margin-left: 14%;
font-size: 105%;
cursor: pointer;
}
}
@media(max-width:23.5em){        
.feed-back{
display: inline;
color: rgb(80, 74, 74);
margin-left: 11%;
font-size: 105%;
cursor: pointer;
}
}
@media(max-width:21.875em){        
.feed-back{
display: inline;
color: rgb(80, 74, 74);
margin-left:8%;
font-size: 105%;
cursor: pointer;
}
}
    
.feed-back-2{
 display: inline;
    color: rgb(80, 74, 74);
    margin-left: 13%;
    font-size: 105%;
    cursor: pointer;
    }
    
.feed-back-3{
    display: inline;
    color: rgb(80, 74, 74);
    margin-left: 13%;
    font-size: 105%;
    cursor: pointer;
}
.space{
    margin-top: .5rem;
background-color: rgb(241, 241, 252) !important;
height: 2rem !important;
width: 101%;
position: relative;
left: -.1rem;
}
/* Right side */
    .right-side{
    width:27% ;
    margin-left: 1rem;
    color: rgb(46, 42, 42);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    position: fixed;
    left: 69.5%;
    top: 5rem;
    background-color: rgb(255, 255, 255);
    border-radius: .5rem;    
    }
    @media(max-width:78.75em){    
    .right-side{
    display: none;
    }    
    }
    .Contacts{
    text-align: center;
    padding-top: 1rem;
    }
    .contact-heading{
display: inline;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 700;
}
    .contract-icon{
    margin-left: 25%;
    color: rgb(0, 98, 255);
    font-size: 100%;
    font-weight:normal;
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    }
    .contact-name{
    display: inline;
    position: relative;
    top: -.2rem;
    left: 1.5rem;
    color: rgb(107, 102, 102);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media(max-width:78.75em){    
    .contact-name{
        display: inline;
        position: relative;
        top: -.2rem;
        left: 15%;
        color: rgb(107, 102, 102);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
   }
   @media(max-width:26.875em){    
    .contact-name{
    display: inline;
    position: relative;
    top: -.2rem;
    left: 12%;
    color: rgb(107, 102, 102);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    }
    @media(max-width:23.4375em){    
     .contact-name{
     display: inline;
     position: relative;
     top: -.2rem;
     left: 10%;
     color: rgb(107, 102, 102);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     }
     }
.card{
border: 1px solid rgb(201, 198, 198);
width: 85%;
margin: auto;
border-radius: .4rem;
margin-bottom: 1.5rem;
margin-top: .7rem;
}
.card:hover{
    cursor: pointer;
}
.card-img{
    width: 100%;
height: 11rem;
border-radius: .4rem;
}
.card-detail{
color: black;
font-size: 115%;
margin-left: 1rem;
margin-bottom: 0;
}
.card-detail-2{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 115%;
margin-left: 1rem;
margin-top: 0%;
color: rgb(105, 99, 99);
    }
    .card-btn{
    font-size: 95%;
    padding: .5rem 5.8rem;
    background-color: #1877F2;
    color: #fff;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    border: hidden;
    cursor: pointer;
width: 90%;
}
