body{
    background-color: rgb(241, 241, 252);
 }
 @media(max-width:54.75em){    
html{
font-size: 90%;
}
 }
 @media(max-width:46.875em){    
html{
font-size: 80%;
}
 }
 @media(max-width:40.625em){    
html{
font-size: 70%;
}
 }
 @media(max-width:35em){    
html{
font-size: 60%;
}
 }
 @media(max-width:30em){    
html{
font-size: 50%;
}
}
@media(max-width:30em){    
html{
font-size: 45%;
}
}
@media(max-width:22.5em){    
    html{
    font-size: 40%;
    }
    }
/* Header */
 
    .header{
        position: fixed;
        background-color: rgb(255, 255, 255);
        z-index: 10;
        margin-top: -.8%;
        box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
        width: 100% !important;
    }
    @media(max-width:81.25em){    
        .header{
        position: fixed;
        background-color: rgb(255, 255, 255);
        z-index: 10;
        margin-top: -.8%;
        box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
        width: 100% !important;
    padding-bottom: .5rem; 
    }
    }
    @media(max-width:58.75em){    
    .header{
    position: fixed;
    top: -.001rem;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    margin-top: -.8%;
    box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
    width: 100% !important;
    padding-bottom: .5rem; 
    }
    }        
    .icon{
    color: #1877F2;
    font-size: 2.5rem;
    margin-top: .2rem;
    position: relative;
    top: .4rem;
    margin-left: .5rem;
    cursor: pointer;
    }    
    .search-logo{
    border-radius: 5rem;
    background-color: rgb(241, 241, 252);
    border: hidden;
    position: relative;
    top: -.1rem;
    padding: .7rem;
    margin: .4rem;
    font-size: 96%;
    color: rgb(161, 161, 161);
    }
            
        @media(max-width:81.25em){        
        .search-logo{
        display: inline;
        border-radius: 5rem;
        background-color: rgb(241, 241, 252);
        border: hidden;
        position: relative;
        top: -.1rem;
        padding: .7rem;
        margin: .4rem;
        font-size: 96%;
        color: rgb(161, 161, 161);
        }
        }
        .search-bar{
        display: inline;
        cursor: pointer;
        }
        .header-icon{ 
        margin-left: 11.9rem;
        cursor: pointer;
       }
        @media(max-width:81.25em){    
        .header-icon{
        margin-left: 14%;
        cursor: pointer;
        }
        }
        @media(max-width:78.125em){    
        .header-icon{
        margin-left: 13.5%;
        }
        }
        @media(max-width:73.125em){    
        .header-icon{
        margin-left: 12.7%;
        }
        }
        @media(max-width:62.5em){    
        .header-icon{
        margin-left: 5.7%;
        }
        }
        .icons{
        font-size: 1.5rem;
        margin-left: 7%;
        cursor: pointer;
        }
        @media(max-width:55em){    
        .icons{
        font-size: 1.5rem;
        margin-left: 6%;
        cursor: pointer;
        }
        }
        @media(max-width:50em){    
        .icons{
        font-size: 1.5rem;
        margin-left: 4.7%;
        cursor: pointer;
        }
        }
        @media(max-width:43.75em){    
        .icons{
            display: none;
        font-size: 1.5rem;
        margin-left: 4.7%;
        cursor: pointer;
        }
        }
        .nav-btn{
            display: none;
        }
        @media(max-width:43.75em){    
        .nav-btn{
        display: inline;
        font-size: 1.5rem;
        margin-left: 1rem;
        color: rgb(93, 91, 91);
        }
        }
        .lines{
            display: none;
        }   
        @media(max-width:68.75em){    
        .lines{
        display:inline;
        /* color: rgb(66, 66, 66); */
        }  
        }
        @media(max-width:43.75em){    
        .lines{
        display:none;
        }  
        }
        @media(max-width:68.75em){    
        .responsive-box{
        display: none;
        font-size: 1.5rem;
        margin-left: 7%;
        cursor: pointer;
        }
        }
        .header-icons{
        font-size: 1.5rem;
        margin-left: 9%;
        cursor: pointer;
        display: inline;
        }
        @media(max-width:43.75em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 42%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:38.75em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 37%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:35.625em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 32%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:32.5em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 26%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:29.75em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 20%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:27.1875em){    
        .header-icons{
        margin-left: 13%;
        }
        }
        @media(max-width:24.6875em){    
        .header-icons{
        margin-left: 5%;
        }
        }
        @media(max-width:22.5em){    
        .header-icons{
        margin-left: -3.2%;
        }
        }
        .group-icon{
        width: 7rem;
        height: .15rem;
        background-color: #5089f3;
        position: absolute;
        color: #5089f3;
        border: hidden;
        left: 53.8%;
        margin-top: -.15rem;
        }
        @media(max-width:81.25em){    
        .group-icon{
        width: 7rem;
        height: .15rem;
        background-color: #5089f3;
        position: absolute;
        top: 3.7rem;
        color: #5089f3;
        border: hidden;
        left: 54.2%;
        margin-top: -.15rem;
        }
        }
        @media(max-width:75em){    
        .group-icon{
        width: 6rem;
        height: .15rem;
        background-color: #5089f3;
        position: absolute;
        top: 3.7rem;
        color: #5089f3;
        border: hidden;
        left: 55.2%;
        margin-top: -.15rem;
        }
        }
        @media(max-width:66.25em){    
        .group-icon{
        left: 56.2%;
        }
        }
        @media(max-width:62.5em){    
        .group-icon{
        left: 50.5%;
        }
        }
        @media(max-width:59.375em){    
        .group-icon{
        left: 51.5%;
        }
        }
        @media(max-width:55em){    
        .group-icon{
        left: 49%;
        }
        }
        @media(max-width:50em){    
        .group-icon{
        left: 46%;
        }
        }
        @media(max-width:46.25em){    
        .group-icon{
        left: 47.7%;
        }
        }
        @media(max-width:43.75em){    
        .group-icon{
            display: none;
        }
        }
        .home{
        color:#2a74ff;
        }
        .owner-name{
        display: inline;
        font-size: 70%;
        margin-right: .5rem;
        }
        @media(max-width:81.25em){    
        .owner-name{
        display: none;
        font-size: 70%;
        margin-right: .5rem;
        }
        }
        .header-pic{
        width: 2rem;
        /* margin-left: 2rem; */
        border-radius: 50%;
        position: relative;
        top: .7rem;
        }
        @media(max-width:81.25em){    
        .header-pic{
        display: none;
        width: 2.2%;
        border-radius: 50%;
        position: relative;
        top: .7rem;
        }
        }
        
        .header-2-icon{
        border-radius: 50%;
        background-color: rgb(241, 241, 252);
        padding: .55rem;
        font-size: 80%;
        cursor: pointer;
        }
        @media(max-width:68.75em){    
        .box-responsive{
        display: none;
        }
        }
        .responsive-plus{
        display: none;
        }
        @media(max-width:68.75em){    
        .responsive-plus{
        display: inline;
        }
        }
        .header-2-icon-last{
        border-radius: 100%;
        background-color: rgb(241, 241, 252);
        padding: .55rem .7rem;
        padding-top: .3rem;
        font-size: 85%;
        }

/* sidebar */

.sidebar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    width: 21rem;
    padding-top: 5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 42, 42);
padding-bottom: 7rem;
}

    @media(max-width:54.75em){        
    .sidebar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    width:38.4%;
    padding-top: 5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 42, 42);
    padding-bottom: 7rem;
    }   
    }
.name{
    margin-top: 15rem !important;
    display: inline;
    position: relative;
    top: -.7rem;
    left: 1rem;
}
@media(max-width:54.75em){        
    .sidebar-search{
    width: 50%;
    }   
    }
.sidebar-search{
    border-radius: 5rem;
    background-color: rgb(241, 241, 252);
    border: hidden;
    position: relative;
    top: -.1rem;
    padding: .5rem 7rem;
    padding-left: 1.5rem;
    margin: .5rem;
    font-size: 90%;
    color: rgb(80, 74, 74);
    }
    .setting{
    margin-left: 12rem;
    background-color: rgb(241, 241, 252);
    padding: .5rem;
    border-radius: 50%;
    position: relative;
    top: -.7rem;
    cursor: pointer;
    }
.my-pic-2{
    margin-top: 1.1rem;
    margin-bottom: .8rem;
    margin-left: 1rem;
    /* width: 8%; */
    /* height: 50%; */
    font-size: 140%;
    border-radius: 50%;
}
.left-side-1{
background-color: rgb(241, 241, 252);
width: 95%;
margin-top: .5rem;
margin-left: .4rem;
cursor: pointer;
}
.left-side{
    cursor: pointer;
    margin-left: .4rem;
}
.left-side:hover{
    cursor: pointer;
background-color: rgb(241, 241, 252);
width: 95%;
}

.left-side-smash{
    padding-top: .5rem;
    cursor: pointer;
}
.left-side-smash:hover{
    cursor: pointer;
background-color: rgb(241, 241, 252);
/* padding: .2rem; */
}
.friend{
color:  #4d96f5;
cursor: pointer;
}
.group{
    background-color: #5089f3;
    color: #fff;
    font-size:100%;
    height: 1rem;
    padding: .4rem;
    border-radius: 50%;
    cursor: pointer;
}
.name-2{
    display: inline;
    position: relative;
    top: -.2rem;
    left: .4rem;
}
.name-3{
width: 86%;
position: relative;
top: -.2rem;
left: .5rem;
color: rgb(10, 168, 241);
text-align: center;
padding: .5rem;
background-color: rgb(220, 248, 240);
cursor: pointer;
}
.name-3:hover{
background-color: rgb(208, 235, 227);
}
.line{
width: 94%;
color: rgb(255, 255, 255);
}
.group-line{
font-weight: 600;
margin-left: 1rem;
cursor: pointer;
}
.Side-pic{
    width: 18%;
    border: 1px solid rgb(230, 218, 218);
    margin-left: 1rem;
}
.group-name-2{
    display: inline;
position: relative;
top: -2.3rem;
left: .5rem;
color: black;
}
.group-date{
    margin-top: 0;
    display: inline;
margin-left: 5.7rem;
position: relative;
top: -2rem;
font-size: 86%;
color: rgb(107, 102, 102);
}

/* Center side */
.center-side{
    /* background-color: #fff; */
    width: 31rem;
    margin: auto;
    position: relative;
    top: 3rem;
    left: -1rem;
}

@media(max-width:78.75em){        
    .center-side{
    width: 31rem;
    margin-left: 45%;
    position: relative;
    top: 3rem;
    }
    }
    @media(max-width:62.5em){        
    .center-side{
    width: 31rem;
    margin-left: 43%;
    position: relative;
    top: 3rem;
    }
    }
    @media(max-width:54.75em){        
    .center-side{
    width: 58%;
    margin-left: 43%;
    margin-right: 1%;
    position: relative;
    top: 3rem;
    }
    }
    @media(max-width:35em){    
    .center-side{
    width: 58%;
    margin-left: 43.5%;
    margin-right: 1%;
    position: relative;
    top: 3rem;
    }
    }
    @media(max-width:25em){    
    .center-side{
    width: 58%;
    margin-left: 44.5%;
    margin-right: 1%;
    position: relative;
    top: 3rem;
    }
    }
   .center-responsive-card{
    display: none;
    } 

    @media(max-width:78.75em){        
    .center-responsive-card{
    background-color: #fff !important;
    display: block;
    margin-bottom: 2.5rem !important;
    padding-bottom: 2rem !important;
    border-radius: .5rem !important;
    } 
    }
    .more-group{
    display: none;
    color: rgb(75, 71, 71);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    }
    @media(max-width:78.75em){        
    .more-group{
    display: block;
    color: rgb(75, 71, 71);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    }
    }
    /* Post 1 */
    .center-side-post{
    background-color: #fff;
    border-radius: .5rem;    
    }
    .fb-dp{
    width: 8%;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: .8rem;
    border: .2rem solid #1877F2;
    cursor: pointer;
    }
    .user-name{
    display: inline;
    position: relative;
    top: -1.8rem;
    left: .4rem;
    cursor: pointer;
    }
    .post-date{
    font-size: 80%;
    display: inline;
    position: relative;
    top: -.7rem;
    left: -5.6rem;
    cursor: pointer;
    }
    .upload-pic{
    width: 100%;
    margin-bottom: .5rem;
    cursor: pointer;

}
.like{
    margin-left: 1rem;
    font-size :70%;
    color: #fff;
    background-color: #1877F2;
    padding: .3rem;
    border-radius: 50%;
    cursor: pointer;
}
.heart{
    font-size :70%;
    color: #fff;
    background-color: red;
    padding: .3rem;
    border-radius: 50%;
    cursor: pointer;
}
.like-name{
    display: inline;
    /* font-size: 110%; */
    color: rgb(80, 74, 74);
    cursor: pointer;
}
.comments{
float: right;
margin-right:1rem ;
cursor: pointer;
}
.coment-line{
    color: rgb(80, 74, 74);
width: 90%;
margin: auto;
margin-top:.6rem;
margin-bottom: .7rem;
}
.feed-back{
    display: inline;
color: rgb(80, 74, 74);
margin-left: 17%;
font-size: 105%;
cursor: pointer;
}
.feed-back-2{
 display: inline;
    color: rgb(80, 74, 74);
    margin-left: 13%;
    font-size: 105%;
    cursor: pointer;
    }
    
.feed-back-3{
    display: inline;
    color: rgb(80, 74, 74);
    margin-left: 13%;
    font-size: 105%;
    cursor: pointer;
}
.space{
    margin-top: .5rem;
background-color: rgb(241, 241, 252) !important;
height: 2rem !important;
width: 101%;
position: relative;
left: -.1rem;
}
/* Right side */
    .right-side{
    width:27% ;
    margin-left: 1rem;
    color: rgb(46, 42, 42);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    position: fixed;
    left: 69.5%;
    top: 5rem;
    background-color: rgb(255, 255, 255);
    border-radius: .5rem;    
    }
    @media(max-width:78.75em){    
    .right-side{
    display: none;
    }    
    }
    .Contacts{
    text-align: center;
    padding-top: 1rem;
    }
    .contact-heading{
display: inline;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 700;
}
    .contract-icon{
    margin-left: 25%;
    color: rgb(0, 98, 255);
    font-size: 100%;
    font-weight:normal;
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    }
    .contact-name{
    display: inline;
    position: relative;
    top: -.2rem;
    left: 1.5rem;
    color: rgb(107, 102, 102);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card{
border: 1px solid rgb(201, 198, 198);
width: 85%;
margin: auto;
border-radius: .4rem;
margin-bottom: 1.5rem;
margin-top: .7rem;
}
.card:hover{
    cursor: pointer;
}
.card-img{
    width: 100%;
height: 11rem;
border-radius: .4rem;
}
.card-detail{
color: black;
font-size: 115%;
margin-left: 1rem;
margin-bottom: 0;
}
.card-detail-2{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 115%;
margin-left: 1rem;
margin-top: 0%;
color: rgb(105, 99, 99);
    }
    .card-btn{
    font-size: 95%;
    padding: .5rem 5.8rem;
    background-color: #1877F2;
    color: #fff;
    margin-top: 3rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    border: hidden;
    cursor: pointer;
}
