body{
    background-color: rgb(241, 241, 252);
}
@media(max-width:56.25em){        
    body{
    background-color: rgb(255, 255, 252);
    }
    }
 html{
     font-size: 98%;
 }  
@media(max-width:51.875em){        
    html{
    font-size: 95%;
    }
    }
/* header */ 
.header{
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    /* margin-top: -.8%; */
    box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
    width: 100% !important;
}
.btn:focus{
    box-shadow: none !important;
}
@media(max-width:81.25em){    
    .header{
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    /* margin-top: -.8%; */
    box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
    width: 100% !important;
/* padding-bottom: .5rem;  */
}
}
@media(max-width:58.75em){    
.header{
position: fixed;
top: -.001rem;
background-color: rgb(255, 255, 255);
z-index: 10;
/* margin-top: -.8%; */
box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
width: 100% !important;
/* padding-bottom: .5rem;  */
}
}
@media(max-width:31.25em){    
.header{
position: fixed;
top: -.001rem;
background-color: rgb(255, 255, 255);
z-index: 10;
/* margin-top: -.8%; */
box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
width: 100% !important;
/* padding-bottom: .5rem; */
/* margin-left: -.5rem;  */
}
}           
.icon{
color: #1877F2;
font-size: 2.5rem;
margin-top: .2rem;
position: relative;
top: .4rem;
margin-left: .5rem;
cursor: pointer;
}    
.search-logo{
border-radius: 5rem;
background-color: rgb(241, 241, 252);
border: hidden;
position: relative;
top: -.1rem;
padding: .7rem;
margin: .4rem;
font-size: 96%;
color: rgb(161, 161, 161);
}
        
    @media(max-width:81.25em){        
    .search-logo{
    display: inline;
    border-radius: 5rem;
    background-color: rgb(241, 241, 252);
    border: hidden;
    position: relative;
    top: -.1rem;
    padding: .7rem;
    margin: .4rem;
    font-size: 96%;
    color: rgb(161, 161, 161);
    }
    }
    .search-bar{
    display: inline;
    cursor: pointer;
    }
    .header-icon{ 
    margin-left: 17.7%;
    cursor: pointer;
   }
    @media(max-width:81.25em){    
    .header-icon{
    margin-left: 17.4%;
    cursor: pointer;
    }
    }
    @media(max-width:78.125em){    
    .header-icon{
    margin-left: 16.8%;
    }
    }
    @media(max-width:73.125em){    
    .header-icon{
    margin-left: 16.3%;
    }
    }
    @media(max-width:62.5em){    
    .header-icon{
    margin-left: 9%;
    }
    }
    .market{
        color: #5089f3 !important;
    }
    a{
        color: black;
    }
    .icons{
    font-size: 1.5rem;
    /* margin-left: 7%; */
    margin-left: 2.5%;
    padding: .9% 2%;
    cursor: pointer;
    }
    .icons:hover{
    background-color: rgb(241, 241, 255);
    border-radius: .5rem;
    }
    @media(max-width:55em){    
    .icons{
    font-size: 1.5rem;
    margin-left: 1.5%;
    cursor: pointer;
    }
    }
    @media(max-width:50em){    
    .icons{
    font-size: 1.5rem;
    margin-left: .2%;
    cursor: pointer;
    }
    }
    @media(max-width:43.75em){    
    .icons{
        display: none;
    font-size: 1.5rem;
    margin-left: 4.7%;
    cursor: pointer;
    }
    }
    .nav-btn{
        display: none;
    }
    @media(max-width:43.75em){    
    .nav-btn{
    display: inline;
    font-size: 1.5rem;
    margin-left: 1rem;
    color: rgb(93, 91, 91);
    }
    }
    .lines{
        display: none;
    }   
    @media(max-width:68.75em){    
    .lines{
    display:inline;
    /* color: rgb(66, 66, 66); */
    }  
    }
    @media(max-width:43.75em){    
    .lines{
    display:none;
    }  
    }
    @media(max-width:68.75em){    
    .responsive-box{
    display: none;
    font-size: 1.5rem;
    margin-left: 7%;
    cursor: pointer;
    }
    }
    .header-2-icon-last{
        border-radius: 100%;
        background-color: rgb(241, 241, 252);
        padding: .55rem .7rem;
        padding-top: .3rem;
        /* font-size: 85%; */
        margin-left: -.5rem;
        margin-right: -.5rem;
        font-size: 1.2rem !important;            
    }
    .header-icons{
        font-size: 1.5rem;
        margin-left: 6%;
        cursor: pointer;
        display: inline;
        }
        @media(max-width:81.25em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 10%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:71.875em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 8%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:68.125em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 7%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:43.875em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 6.5%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:43.75em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 42%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:40.375em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 37%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:36.625em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 32%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:33.5em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 26%;
        cursor: pointer;
        display: inline;
        }
        }
        @media(max-width:30.375em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 20%;
        cursor: pointer;
        display: inline;
        }
        }
        
    @media(max-width:28.125em){    
        .header-icons{
        font-size: 1.5rem;
        margin-left: 0%;
        cursor: pointer;
        display: inline;
        margin-left: -30%;
        }
        }
        @media(max-width:26.625em){    
        .header-icons{
        margin-left: -35%;
        }
        }
        @media(max-width:25.5em){    
        .header-icons{
        margin-left: -38%;
        }
        }
        @media(max-width:24em){    
        .header-icons{
        margin-left: -42.4%;
        }
        }
    @media(max-width:22.5em){    
    .header-icons{
    margin-left: -48%;
    }
    }
    @media(max-width:21.125em){    
    .header-icons{
    margin-left: -54%;
    }
    }
    .group-icon{
    width: 7rem;
    height: .15rem !important;
    background-color: #041f52;
    position: absolute;
    color: #04132e;
    border: hidden;
    left: 44.8%;
    margin-top: -.2rem;
    }
    @media(max-width:81.25em){    
    .group-icon{
    width: 7rem;
    height: .15rem;
    background-color: #5089f3;
    position: absolute;
    top: 3.7rem;
    color: #5089f3;
    border: hidden;
    left: 45%;
    margin-top: -.15rem;
    }
    }
    @media(max-width:75em){    
    .group-icon{
    width: 6rem;
    height: .15rem;
    background-color: #5089f3;
    position: absolute;
    top: 3.7rem;
    color: #5089f3;
    border: hidden;
    left: 46%;
    margin-top: -.15rem;
    }
    }
    @media(max-width:66.25em){    
    .group-icon{
    left: 47%;
    }
    }
    @media(max-width:62.5em){    
    .group-icon{
    left: 40.3%;
    }
    }
    @media(max-width:59.375em){    
    .group-icon{
    left: 41.3%;
    }
    }
    @media(max-width:55em){    
    .group-icon{
    left: 39.1%;
    }
    }
    @media(max-width:50em){    
    .group-icon{
    left: 36.3%;
    }
    }
    @media(max-width:46.75em){    
    .group-icon{
        height: .2rem;
    left: 37.3%;
    }
    }
    @media(max-width:43.75em){    
    .group-icon{
        display: none;
    }
    }
    .home{
    color:#2a74ff;
    }
    .owner-name{
    display: inline;
    font-size: 70%;
    margin-right: -1.2rem;
    }
    @media(max-width:81.25em){    
    .owner-name{
    display: none;
    font-size: 70%;
    margin-right: .5rem;
    }
    }
    .header-pic{
    width: 2rem;
    /* margin-left: 2rem; */
    border-radius: 50%;
    position: relative;
    /* top: .7rem; */
    }
    @media(max-width:81.25em){    
    .header-pic{
    display: none;
    width: 2.2%;
    border-radius: 50%;
    position: relative;
    top: .7rem;
    }
    }
    
    .header-2-icon{
    border-radius: 50%;
    background-color: rgb(241, 241, 252);
    padding: .55rem;
    font-size: 80%;
    cursor: pointer;
    margin-left: -.5rem;
    margin-right: -.5rem;    
    font-size: 1.2rem;
    }
    
    @media(max-width:68.75em){    
        .header-2-icon-messenger{
        padding-left: -4rem !important;
        margin-left: -2rem;
        /* Pehlay ye solve kerna ha  */
        /* padding-right: -1.5rem; */
        font-size: 1.2rem;
        }
        }
    .header-2-icon:hover,.header-2-icon-last:hover{
    background-color: rgb(224, 224, 255);
    }
    @media(max-width:68.75em){    
    .box-responsive{
    display: none;
    }
    }
    .responsive-plus{
    display: none;
    }
    @media(max-width:68.75em){    
    .responsive-plus{
    display: inline;
    }
    }
    .header-2-icon-last{
    border-radius: 100%;
    background-color: rgb(241, 241, 252);
    padding: .55rem .7rem;
    padding-top: .3rem;
    font-size: 85%;
    }

/* Dropdown */
.dropdown{
    padding: .5rem 1rem;
    
    }
    .dropdown-search{
    border-radius: 5rem;
    background-color: rgb(241, 241, 252);
    border: hidden;
    padding: .5rem;
    padding-left: .5rem;
    padding-right: 9rem;
    cursor: pointer;
    margin-top: .4rem;
    }
    .dropdown-search:hover{
    background-color: rgb(227, 227, 253);
    }
    .social{
        margin-top: 1rem;
        margin-left: .4rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        font-size: 120%;
        cursor: text;
    }
    .menu{
        padding: .4rem 1rem;
        padding-bottom: -.3rem !important;
    border-radius: .5rem;
    }
    .menu:hover{
    background-color: rgb(241, 241, 252);
    }
    .icon-friend{
        color: #4d96f5;
        font-size: 140%;
        position: relative;
        top: .4rem;
    }
    .campus{
        display: inline;
        color: black;
        font-weight: 600;
        padding-left: .5rem;
        margin-bottom: 0%;
    }
    .information{
        font-size: 80%;
        margin-left: 12%;
        margin-bottom: 0%;
    }
    .dropdown-flag{
    color: rgb(255, 136, 0);
    }
    .dropdown-group{
    background-color: #1877F2;
    border-radius: 50%;
    color: #fff;
    padding: .5rem;
    font-size: 95%;
    margin-left: -.4rem;
    }
    .menu-messenger{
        padding: 0 1rem;
        padding-bottom: .3rem !important;
        border-radius: .5rem;
        margin-top: 1rem;
    }
    .menu-messenger:hover{
    background-color: rgb(241, 241, 252);
    }
    .dropdown-Messenger{
        font-size: 150%;
        color: black;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: inline;
    }
    .dotes{
        margin-left: 14%;
        padding: .6rem;
        border-radius: 50%;
    }
    .dotes:hover{
    background-color: rgb(235, 235, 253); 
    }
    .messenger-icon{
        margin-left: 1%;
        padding: .6rem;
        border-radius: 50%;
    }
    .messenger-icon:hover{
    background-color: rgb(235, 235, 253); 
    }
    .messenger-dp{
        width: 3rem;
        border-radius: 50%;
        margin-left: -.5rem;
        /* margin-top: 1rem; */
        display: inline;
        position: relative;
        top: 1rem;
        /* left: .5rem; */
    }
    .dropdown-dp-name{
        color: black;
        margin-top: -2rem;
        margin-left: 3rem;
        margin-bottom: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .messenger-information{  
    font-size: 80%;
    margin-left: 15%;
    margin-bottom: 0%;
    }
    
    .menu-messenger-2{
        padding: 0 1rem;
        padding-bottom: .3rem !important;
        border-radius: .5rem;
        /* margin-top: 1rem; */
    }
    .menu-messenger-2:hover{
    background-color: rgb(241, 241, 252);
    }
    .notification{
        /* display: hidden !important; */
    width: 20rem;
    }
    .arrow{
    width: 24rem;
    }
    .profiles{
        /* font-size: 90%; */
        width: 22.7rem;
        margin: auto;
    padding-bottom: .01rem;
    border-radius: .5rem;
    }
    .profiles:hover{
    background-color: rgb(235, 235, 253);
    }
    .dropdown-pic{
        width: 3.5rem;
        border-radius:50%;
        display: inline;
        margin-left: .5rem;
    position: relative;
    top: .6rem;
    }
    .my-name{
        display: inline;
        margin-left: .5rem;
        margin-bottom: 0%;
    }
    .profile{
    margin-left: 5rem;
    margin-top: -1.3rem;
    color: rgb(71, 66, 66);
    }
    .dropdown-line{
        width: 90%;
        margin: auto;
        margin-top: .5rem ;
    margin-bottom: .5rem;
    }
    .dropdown-msg{
    padding: .5rem;
    padding-bottom: .1rem;
    width: 95%;
    margin: auto;
    border-radius: .5rem;
    position: relative;
    }
    .dropdown-msg:hover{
    background-color: rgb(245, 245, 255);
    }
    .dropdown-msg-2{
    padding: 1rem;
    /* padding-bottom: .1rem; */
    width: 95%;
    margin: auto;
    border-radius: .5rem;
    position: relative;
    }
    .dropdown-msg-2:hover{
    background-color: rgb(245, 245, 255);
    
    }
        
    .msg{
    display: inline;
    font-size: 1rem;
    padding: .7rem;
    border-radius: 50%;
    position: relative;
    top: .5rem;
    left: .3rem;
    background-color: rgb(224, 224, 255);
    }
    .msg-2{
    display: inline;
    font-size: 1.4rem;
    padding: .4rem ;
    border-radius: 50%;
    position: relative;
    /* top: .5rem; */
    left: 0rem;
    background-color: rgb(224, 224, 255);
    }
    .Direction{
        margin-left: 8rem;
        font-size: 1.5rem;
    color: rgb(100, 100, 100);
    }
    .Direction-1{
        margin-left: 8.5rem;
        font-size: 1.5rem;
    color: rgb(100, 100, 100);
    }
    .Direction-2{
        margin-left: 5.5rem;
        font-size: 1.5rem;
    color: rgb(100, 100, 100);
    }
    .Direction-3{
        margin-left: 11.5rem;
        font-size: 1.5rem;
    color: rgb(100, 100, 100);
    }
    .feedback{
    margin-top: 10rem;
    margin-bottom: 0;
    display: inline;
    margin-left: 1.3rem;
    position: relative;
    padding-top: 2rem;
    }
    .feedback-2{
    margin-top: 10rem;
    margin-bottom: 0;
    display: inline;
    margin-left: .5rem;
    position: relative;
    padding-top: 2rem;
    }
    
    .feedback-help{
    margin-left: 4rem;
    font-size: 85%;
    color: rgb(95, 90, 90);
    }
    .menu-notifications{
        margin-top: 1.7rem;
        padding: 0 1rem;
        padding-bottom: .3rem !important;
        border-radius: .5rem;
        width: 105%;
        margin-left: -.5rem;
    }
    .menu-notifications:hover{
    background-color: rgb(241, 241, 252);
    }
    .menu-notification-2{
        padding: 0 1rem;
        padding-bottom: .3rem !important;
        border-radius: .5rem;
        width: 105%;
        margin-left: -.5rem;
    }
    .menu-notification-2:hover{
    background-color: rgb(241, 241, 252);
    }
    .notifi{
        font-size: 1.5rem;
    display: inline;
    color: black;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: text;
    }
    .notification-dotes{
    padding: .5rem;
    border-radius: 50%;
    font-size: 1.1rem;
    display: inline;
    margin-left: 40%;
    color: rgb(63, 59, 59);
    }
    .notification-dotes:hover{
    background-color: rgb(231, 231, 255);
    }
    .all{
    background-color: rgb(232, 247, 248);
    border-radius: 50%;
    /* width: 1rem; */
    padding: .4rem .6rem;
    text-decoration: none;
    display: inline;
    position: relative;
    top: .7rem;
    left: -2rem;
    color:#1877F2;
    /* margin-bottom: .5rem; */
    }
    .all:hover{
    background-color: rgb(213, 252, 255);
    }
    .unread{
        border-radius: 1rem;
        padding: .4rem .7rem;
        background-color: rgb(235, 235, 250);
        display: inline;
        position: relative;
        top: .7rem;
        left: -2rem;
        font-weight: 600;
    }
    .unread:hover{
        background-color: rgb(224, 224, 255);
    }
    .new{
        margin-top: 1.8rem;
        cursor: text !important;
        margin-bottom: 0 !important;
        /* display:block; */
        float: left;
        position: relative;
        top: 1.4rem;
        font-size: 1.2rem;
        font-weight: 600;
    
    }
    .see-alls{
        position: relative;
        top: 1.6rem;
        left: 70%;
        font-weight: 600;
    color: #1877F2;
    padding: .2rem 0rem;
        /* display: inline; */
        /* float: right; */
    /* width: 5rem; */
    }
    .see-alls:hover{
        background-color: rgb(227, 227, 253);
    }
/* after setting */
@media(max-width:28.125em){    
    .responsive-type{
    margin-top: 2.5rem;
    margin-left: 110% !important;
    /* position: relative; */
    
    /* left: -10.1rem; */
    }
    }
    @media(max-width:28.125em){    
        .responsive-type-2{
        margin-top: 2.5rem;
        margin-left: 240% !important;
        /* position: relative; */
        /* left: -6.6rem; */
        }
        }
        @media(max-width:28.125em){    
            .responsive-type-3{
            margin-top: 2.5rem;
            margin-left: 350% !important;
            /* position: relative;
            left: -3.2rem; */
            }
            }
    @media(max-width:28.125em){    
    .responsive-plus{
    position: relative;
    top: 1.35rem;
        
    }
    }
    @media(max-width:28.125em){        
    .header-ico{
    position: relative;
    top: -.6rem;
    }   
    }
    @media(max-width:28.125em){        
    .header-icono{
    position: relative;
    top: -1.2rem;
    left: 60%;
    }   
    }
    @media(max-width:22.525em){        
    .header-icono{
    position: relative;
    top: -1.2rem;
    left: 55%;
    }   
    }    

    /* sidebar */

.sidebar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    width: 24.5%;
    padding-top: 5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 42, 42);
padding-bottom: 7rem;
/* font-size: 90%; */
}
@media(max-width:56.25em){    
    .sidebar{
    display: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    width: 24.5%;
    padding-top: 5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 42, 42);
    padding-bottom: 7rem;
    }
    }           
    
.name{
    margin-top: 15rem !important;
    display: inline;
    position: relative;
    top: -1rem;
    left: 1rem;
    font-size: 1.6rem;
    /* font-size: 99%; */
}

.sidebar-search{
    width: 92%;
    border-radius: 5rem;
    background-color: rgb(241, 241, 252);
    border: hidden;
    position: relative;
    top: -.5rem;
    padding: .5rem 7rem;
    padding-left: 1.5rem;
    margin: .5rem;
    font-size: 90%;
    color: rgb(80, 74, 74);
    }
    .setting{
    margin-left: 45%;
    /* margin-left: 9rem; */
    background-color: rgb(241, 241, 252);
    padding: .5rem;
    border-radius: 50%;
    position: relative;
    top: -1rem;
    cursor: pointer;
    }
    @media(max-width:76.875em){    
    .setting{
    margin-left: 40%;
    }
    }
    @media(max-width:70.625em){    
    .setting{
    margin-left: 37%;
    }
    }
    @media(max-width:65.125em){    
    .setting{
    margin-left: 31%;
    }
    }
    @media(max-width:59.5em){    
    .setting{
    margin-left: 27%;
    }
    }
.my-pic-2{
    margin-top: .6rem;
    margin-bottom: .5rem;
    margin-left: 1.1rem;
    /* width: 8%; */
    /* height: 50%; */
    font-size: 140%;
    border-radius: 50%;
}
.left-side-1{
background-color: rgb(241, 241, 252);
width: 95%;
/* margin-top: .5rem; */
margin-left: .4rem;
cursor: pointer;
}
.left-side{
    cursor: pointer;
    margin-left: .4rem;
}
.left-side:hover{
    cursor: pointer;
background-color: rgb(241, 241, 252);
width: 95%;
/* margin-left: .4rem; */
}
.friend{
color:  #4d96f5;
cursor: pointer;
}
.market{
    color: #5089f3;
}
.name-2{
    display: inline;
    position: relative;
    top: -.2rem;
    left: .4rem;
}
.name-3{
width: 92%;
position: relative;
top: -.2rem;
left: .7rem;
color: rgb(10, 168, 241);
text-align: center;
padding: .5rem;
background-color: rgb(220, 248, 240);
cursor: pointer;
margin-bottom: 0%;

}
.name-3:hover{
background-color: rgb(208, 235, 227);
}
.line{
width: 92%;
color: rgb(255, 255, 255);
}
.group-line{
/* font-weight: 600; */
margin-left: .7rem;
cursor: pointer;
/* color: black; */
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/* font-weight: 700; */
font-size: 110%;
}
.filters{
color: #5089f3;
padding: .2rem 0;
border-bottom: 1px solid rgb(209, 203, 203);
padding-bottom: 1rem;
width: 95%;
}
.filters:hover{
    background-color: rgb(241, 241, 252);
}
.card-line{
    /* margin-top: 47%; */
/* margin-top: 24.5rem; */
position: relative;
top: .7rem; 
margin-bottom: 2.5rem;
width: 95%;
margin-left: .7rem;
}
@media(max-width:56.25em){    
.card-line{
/* margin-top: 49%; */
width: 100%;
margin-left: 0%;   
}
}
.line-1{
    margin-top: 28.3rem;
    position: relative;
    top: .7rem; 
    margin-bottom: 2.5rem;
    width: 95%;
    margin-left: .7rem;    
}
 @media(max-width:81.25em){    
.line-1{
    margin-top: 48%;
    }
    }
    @media(max-width:56.25em){    
    .line-1{
    /* margin-top: 49%; */
    width: 100%;
    margin-left: 0%;   
    }
    }
.categories{
    font-size: 110%;
    margin-left: .7rem;
margin-bottom: 0%;
}
.transport{
    padding: .4rem 0;
}
.Vehicle{
padding: .4rem;
background-color: rgb(226, 226, 248);
border-radius: 50%;
margin-left: .5rem;
}

/* Fb Cards */
.Fb-cards{
    font-size: 110%;
    padding-top: 4rem;
    margin-left: 27%;
}
@media(max-width:56.25em){    
.Fb-cards{
    font-size: 110%;
    padding-top: 4rem;
    margin-left: 0%;
    background-color: #fff;
    }
    }
    @media(max-width:28.125em){    
    .Fb-cards{
        margin-top: 3rem;
        }
        }
.post-date{
    margin-left: .7rem;
cursor: pointer;
/* display: inline; */
}
.Location-faisalabad{
position: absolute;
top: 4.8rem;
left: 85%;
color: #5089f3;
cursor: pointer;
}
.Location-faisalabad:hover{
border-bottom: 1px solid #5089f3;
}
@media(max-width:68.75em){       
.Location-faisalabad{
position: absolute;
top: 4.8rem;
left: 83%;
color: #5089f3;
cursor: pointer;
}
}
@media(max-width:60.625em){       
.Location-faisalabad{
left: 81%;
}
}
@media(max-width:56.25em){       
.Location-faisalabad{
left: 79%;
}
}
@media(max-width:47.5em){       
.Location-faisalabad{
left: 76%;
}
}
@media(max-width:40.625em){       
.Location-faisalabad{
left: 70%;
}
}
@media(max-width:32.5em){       
.Location-faisalabad{
left: 65%;
}
}
@media(max-width:28.125em){       
    .Location-faisalabad{
/* position: relative; */
top: 0rem;
margin-top: 7rem !important;
    }
    }
@media(max-width:27.5em){       
.Location-faisalabad{
left: 61%;
}
}
@media(max-width:24.5em){       
.Location-faisalabad{
left: 56%;
}
}
@media(max-width:21.875em){       
.Location-faisalabad{
left: 52%;
}
}
.see-all{
color: #5089f3;
cursor: pointer;
display: inline;
position: relative;
top: -2.3rem;
left: 23%;
}
.see-all:hover{
border-bottom: 1px solid #5089f3;
}
@media(max-width:40.625em){       
    .see-all{
    color: #5089f3;
    cursor: pointer;
    display: inline;
    position: relative;
    top: -2.3rem;
    left: 34%;
    }
    }   
.cards{
    /* width: 19rem; */
width: 31.5%;
    cursor: pointer;
    font-size: 100%;
    float: left;
    margin-left: .7rem;
}
@media(max-width:40.625em){       
.cards{
    width: 47%;
    cursor: pointer;
    font-size: 100%;
    float: left;
    margin-left: .7rem;
    }
    }
@media(max-width:28.125em){       
    .cards{
    margin-left: .5rem;
    width: 47%;
    }
    }
@media(max-width:40.625em){       
    .card-responsive{
    display: none;
    }
    }
    .card-last{
    display: none;
    }
@media(max-width:40.625em){       
    .card-last{
    display: inline;
    margin-top: 2.6rem;
    }
    }
    /* .last-head{
        display: none;
    } */
.row-last{
    position: relative;
    top: -1.3rem;
}
@media(max-width:40.625em){       
    .row-last-responsive{
        position: relative;
        top: -1.3rem;
    }   
    }
.card-pic{
    width: 100%;
    /* width: 19rem; */
    border-radius: .7rem;
}
.type{
    text-transform: uppercase;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-bottom: 0%;
margin-top: .7rem;
}
.quantity{
    margin-top: 0%;
 margin-bottom: 0%;
    color: rgb(59, 58, 58);
}
.locate{
    margin-top: 0%;
    color: rgb(131, 124, 124);

}
