/* 
 #AAC9FF;
    --fds-blue-40: #77A7FF;
    --fds-blue-60: #1877F2;
    --fds-blue-70: #2851A3;
    --fds-blue-80: #1D3C78;
*/
body{
background-color: rgb(241, 241, 252);
}
html{
    font-size: 97%;
}
@media(max-width:23.75em){       
html{
font-size: 95% !important;
}
}
@media(max-width:22.5em){       
html{
font-size: 90% !important;
}
}
/* Header */
.header{
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    /* margin-top: -.8%; */
    box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
    width: 100% !important;
}
@media(max-width:81.25em){    
    .header{
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    /* margin-top: -.8%; */
    box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
    width: 100% !important;
/* padding-bottom: .5rem;  */
}
}
@media(max-width:58.75em){    
.header{
position: fixed;
top: -.001rem;
background-color: rgb(255, 255, 255);
z-index: 10;
/* margin-top: -.8%; */
box-shadow: .1rem .1rem .1rem rgb(233, 225, 225);
width: 100% !important;
/* padding-bottom: .5rem;  */
/* margin-left: -.5rem; */
}
}
a{
    color: black;
}        
.icon{
    color: #1877F2;
    font-size: 2.5rem;
    margin-top: .2rem;
    position: relative;
    top: .4rem;
    margin-left: .5rem;
    cursor: pointer;
    }
    .search{
    border-radius: 5rem;
    background-color: rgb(241, 241, 252);
    border: hidden;
    position: relative;
    top: -.1rem;
    padding: .5rem 1rem;
    margin: .4rem;
    font-size: 96%;
    color: rgb(161, 161, 161);
    }
    @media(max-width:81.25em){    
    .search{
    display: none;
    border-radius: 5rem;
    background-color: rgb(241, 241, 252);
    border: hidden;
    position: relative;
    top: -.1rem;
    padding: .7rem;
    margin: .4rem;
    font-size: 96%;
    color: rgb(161, 161, 161);
    }
    }
    
    .search-logo{
    display: none;
    border-radius: 5rem;
    background-color: rgb(241, 241, 252);
    border: hidden;
    position: relative;
    top: -.1rem;
    padding: .7rem;
    margin: .4rem;
    font-size: 96%;
    color: rgb(161, 161, 161);
    }
        
    @media(max-width:81.25em){        
    .search-logo{
    display: inline;
    border-radius: 5rem;
    background-color: rgb(241, 241, 252);
    border: hidden;
    position: relative;
    top: -.1rem;
    padding: .7rem;
    margin: .4rem;
    font-size: 96%;
    color: rgb(161, 161, 161);
    }
    }
    .search-bar{
    display: inline;
    cursor: pointer;
    }
    .header-icon{
    margin-left:4.5%;
    cursor: pointer;
    }
    @media(max-width:81.25em){    
    .header-icon{
    margin-left: 16%;
    cursor: pointer;
    }
    }
    @media(max-width:78.125em){    
    .header-icon{
    margin-left: 15.5%;
    }
    }
    @media(max-width:73.375em){    
    .header-icon{
    margin-left: 14.7%;
    }
    }
    @media(max-width:62.5em){    
    .header-icon{
    margin-left: 7.7%;
    }
    }
    .icons{
    font-size: 1.5rem;
    margin-left: 3.2%;
    padding: .9% 2%;
    cursor: pointer;
    border-radius: .5rem;
    }
    .icons:hover{
    background-color: rgb(241, 241, 255);
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
        }
    @media(max-width:55em){    
    .icons{
    font-size: 1.5rem;
    margin-left: 2.2%;
    cursor: pointer;
    }
    }
    @media(max-width:50em){    
    .icons{
    font-size: 1.5rem;
    margin-left: 1%;
    cursor: pointer;
    }
    }
    @media(max-width:43.75em){    
    .icons{
        display: none;
    font-size: 1.5rem;
    margin-left: 4.7%;
    cursor: pointer;
    }
    }
    .nav-btn{
        display: none;
    }
    @media(max-width:43.75em){    
    .nav-btn{
    display: inline;
    font-size: 1.5rem;
    margin-left: 1rem;
    color: rgb(93, 91, 91);
    }
    }
    .lines{
        display: none;
    }   
    @media(max-width:68.75em){    
    .lines{
    display:inline;
    /* color: rgb(66, 66, 66); */
    }  
    }
    @media(max-width:43.75em){    
    .lines{
    display:none;
    }  
    }
    @media(max-width:68.75em){    
    .responsive-box{
    display: none;
    font-size: 1.5rem;
    margin-left: 7%;
    cursor: pointer;
    }
    }
    
    .header-icons{
    font-size: 1.5rem;
    margin-left: 6%;
    cursor: pointer;
    display: inline;
    }
    @media(max-width:81.25em){    
    .header-icons{
    font-size: 1.5rem;
    margin-left: 10%;
    cursor: pointer;
    display: inline;
    }
    }
    @media(max-width:71.875em){    
    .header-icons{
    font-size: 1.5rem;
    margin-left: 8%;
    cursor: pointer;
    display: inline;
    }
    }
    @media(max-width:68.125em){    
    .header-icons{
    font-size: 1.5rem;
    margin-left: 7%;
    cursor: pointer;
    display: inline;
    }
    }
    @media(max-width:43.875em){    
    .header-icons{
    font-size: 1.5rem;
    margin-left: 6.5%;
    cursor: pointer;
    display: inline;
    }
    }
    @media(max-width:43.75em){    
    .header-icons{
    font-size: 1.5rem;
    margin-left: 42%;
    cursor: pointer;
    display: inline;
    }
    }
    @media(max-width:39.375em){    
    .header-icons{
    font-size: 1.5rem;
    margin-left: 37%;
    cursor: pointer;
    display: inline;
    }
    }
    @media(max-width:35.625em){    
    .header-icons{
    font-size: 1.5rem;
    margin-left: 32%;
    cursor: pointer;
    display: inline;
    }
    }
    @media(max-width:32.875em){    
    .header-icons{
    font-size: 1.5rem;
    margin-left: 26%;
    cursor: pointer;
    display: inline;
    }
    }
    @media(max-width:29.75em){    
    .header-icons{
    font-size: 1.5rem;
    margin-left: 20%;
    cursor: pointer;
    display: inline;
    }
    }
    @media(max-width:27.1875em){    
    .header-icons{
    margin-left: 13%;
    }
    }
    @media(max-width:24.75em){    
    .header-icons{
    margin-left: 5%;
    }
    }
    @media(max-width:22.5em){    
    .header-icons{
    margin-left: -3.2%;
    }
    }
    .group-icon{
    width: 7rem;
    height: .18rem !important;
    color: #02265f !important;
    /* border:1rem solid #02265f; */
    position: absolute;
    border: hidden;
    left: 26.2%;
    margin-top: -.15rem;
    z-index: 100 !important;
    }
    @media(max-width:81.25em){    
    .group-icon{
    width: 7rem;
    height: .15rem;
    background-color: #5089f3;
    position: absolute;
    top: 3.7rem;
    color: #5089f3;
    border: hidden;
    left: 26.2%;
    margin-top: -.15rem;
    }
    }
    @media(max-width:62.5em){    
    .group-icon{
    width: 5.8rem;
    position: absolute;
    top: 3.7rem;
    color: #5089f3;
    left: 20.2%;
    }
    }
    @media(max-width:43.75em){    
    .group-icon{
        display: none;
    }
    }
    .home{
    color:#2a74ff;
    /* border-bottom: 2px solid #5089f3 !important; */
    }
    .owner-name{
    display: inline;
    font-size: 70%;
    margin-right: -1rem;
    }
    @media(max-width:81.25em){    
    .owner-name{
    display: none;
    font-size: 70%;
    margin-right: .5rem;
    }
    }
    .header-pic{
    width: 2rem;
    /* margin-left: 2rem; */
    border-radius: 50%;
    position: relative;
    top: .1rem;
    }
    @media(max-width:81.25em){    
    .header-pic{
    display: none;
    width: 2.2%;
    border-radius: 50%;
    position: relative;
    top: .1rem;
    }
    }
    
    .header-2-icon{
    border-radius: 50%;
    background-color: rgb(241, 241, 252);
    padding: .55rem;
    /* font-size: 80%; */
    cursor: pointer;
    margin-left: -.5rem;
    margin-right: -.5rem;    
    font-size: 1.2rem;
    }
    @media(max-width:68.75em){    
    .header-2-icon-messenger{
    padding-left: -4rem !important;
    margin-left: -1.5rem;
    /* Pehlay ye solve kerna ha  */
    padding-right: -1.5rem;
    font-size: 1.2rem;
    }
    }
@media(max-width:68.75em){    
    .box-responsive{
    display: none;
    }
    }
    .header-2-icon:hover,.header-2-icon-last:hover{
    background-color: rgb(224, 224, 255);
    }
    .responsive-plus{
    display: none;
    }
    @media(max-width:68.75em){    
    .responsive-plus{
    display: inline;
    margin-right: -1.5rem;
    }
    }
    .header-2-icon-last{
    border-radius: 100%;
    background-color: rgb(241, 241, 252);
    padding: .55rem .7rem;
    padding-top: .3rem;
    /* font-size: 85%; */
    margin-left: -.5rem;
    margin-right: -.5rem;
    font-size: 1.2rem;
        
}

    /* sidebar */

.sidebar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    width: 30%;
    background-color: rgb(241, 241, 252);
    color: rgb(46, 42, 42);
}
@media(max-width:68.75em){    
.sidebar{
display: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    width: 30%;
    background-color: rgb(241, 241, 252);
    color: rgb(46, 42, 42);
}
}
.left-side{
    cursor: pointer;
}
.left-side:hover{
    cursor: pointer;
    background-color: rgb(232, 232, 255);
}
.my-pic{
    margin-top: 5rem ;
    margin-left: 1rem;
    width: 8%;
    height: 50%;
    border-radius: 50%;
    cursor: pointer;
}
.name{
    display: inline;
    position: relative;
    top: 2.7rem;
    left: .2rem;
    cursor: pointer;
}
.my-pic-2{
    margin-top: 1.1rem;
    margin-bottom: .8rem;
    margin-left: 1rem;
    /* width: 8%; */
    /* height: 50%; */
    font-size: 140%;
    border-radius: 50%;
}
.group{
    background-color: #5089f3;
    color: #fff;
    font-size:100%;
    padding: .4rem;
    border-radius: 50%;
}
.friend{
color:  #4d96f5;
}

.name-2{
    display: inline;
    position: relative;
    top: -.2rem;
    left: .4rem;
}
.saved{
    color: purple;
}
.pages{
color: rgb(255, 94, 0);
}
.events{
    color: rgb(185, 29, 29);
}
.jobs{
    color: rgb(255, 136, 0);
}

/* Center side */
.upload-items{
/* margin-top: 35%; */
background-color: #fff;
position: relative;
top:2rem;
margin-bottom: 5rem;
border-radius: .5rem;
height: 9rem;
}
.top-id-pic{
width: 2.8rem;
border-radius: 5rem;
float: left;
margin-top: .9rem;
margin-left: 1rem;
cursor: pointer;
}
.id-search{
    border-radius: 5rem;
    background-color: rgb(241, 241, 252);
    border: hidden;
    position: relative;
    top: -.1rem;
    padding: .7rem;
    margin: .4rem;
    font-size: 96%;
    color: rgb(161, 161, 161);
    width: 80%;
    margin-top: 1rem;
    font-size: 115% !important;
    cursor: pointer;
}
.id-search:hover{
background-color: rgb(230, 230, 251);
}
@media(max-width:77.75em){    
    .id-search{
        border-radius: 5rem;
        background-color: rgb(241, 241, 252);
        border: hidden;
        position: relative;
        top: -.1rem;
        padding: .7rem;
        margin: .4rem;
        font-size: 96%;
        color: rgb(161, 161, 161);
        width: 75%;
        margin-top: 1rem;
        font-size: 115% !important;
        cursor: pointer;
    }   }
    
@media(max-width:24.875em){    
    .id-search{
        border-radius: 5rem;
        background-color: rgb(241, 241, 252);
        border: hidden;
        position: relative;
        top: -.1rem;
        padding: .7rem;
        margin: .4rem;
        font-size: 94%;
        color: rgb(161, 161, 161);
        width: 70%;
        margin-top: 1rem;
        font-size: 115% !important;
        cursor: pointer;
    }   }
.top-line{
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0%;
}
.live-vedio{
    float: left;
/* background-color: #fff; */
margin-left: 2%;
margin-top:.2rem;
color: rgb(100, 98, 98);
padding: 1.7% 4%;
cursor: pointer;
border-radius: .5rem;
}
.live-vedio:hover{
 background-color: rgb(241, 241, 252);
}
@media(max-width:81.625em){    
    .live-vedio{
    float: left;
    margin-left: 1%;
    color: rgb(100, 98, 98);
    padding: 2% 3.5%;
    cursor: pointer;
    border-radius: .5rem;
    }
    }
    @media(max-width:75.25em){    
    .live-vedio{
    float: left;
    margin-left: .5%;
    color: rgb(100, 98, 98);
    padding: 2% 3%;
    cursor: pointer;
    border-radius: .5rem;
    }
    }
    @media(max-width:71.125em){    
    .live-vedio{
    float: left;
    margin-left: .5%;
    color: rgb(100, 98, 98);
    padding: 2% 2.5%;
    cursor: pointer;
    border-radius: .5rem;
    }
    }
    @media(max-width:68.75em){    
    .live-vedio{
    float: left;
    margin-left: 0.5%;
    color: rgb(100, 98, 98);
    padding: 2% 3.5%;
    cursor: pointer;
    border-radius: .5rem;
    }
    }
    @media(max-width:29.25em){    
    .live-vedio{
    float: left;
    margin-left: .5%;
    color: rgb(100, 98, 98);
    padding: 2% 2.5%;
    cursor: pointer;
    border-radius: .5rem;
    }
    }
    @media(max-width:26.75em){    
    .live-vedio{
    float: left;
    margin-left: 0%;
    color: rgb(100, 98, 98);
    padding: 2% 2%;
    cursor: pointer;
    border-radius: .5rem;
    }
    }
    @media(max-width:25.375em){    
    .live-vedio{
    float: left;
    margin-left: 1%;
    color: rgb(100, 98, 98);
    padding: 2% 3%;
    margin-left: 10%;
    cursor: pointer;
    border-radius: .5rem;
    }
    }
    @media(max-width:21.875em){    
    .live-vedio{
    float: left;
    margin-left: 1%;
    color: rgb(100, 98, 98);
    padding: 2% 3%;
    margin-left:7%;
    cursor: pointer;
    border-radius: .5rem;
    }
    }
.vedio-icon{
    font-size: 1.5rem;
    /* width: 1.9rem; */
color: #F35369;
margin-right: .5rem;
position: relative;
top:.2rem;
}
.Photo-icon{
color: #00A400;
font-size: 1.5rem;
/* transform: rotate(90deg); */
margin-right: .5rem;
position: relative;
top:.2rem;
}
.mood{
    font-size: 1.5rem;
    color: #F5C33B;
    margin-right: .5rem;
    position: relative;
    top:.2rem;
}
@media(max-width:25.375em){    
.face{
    display: none;
    }
    }
.center-side{
    width: 39%;
    margin: auto;
    position: relative;
    top: 3rem;
    /* left: -.2rem; */

    /* background-color: #fff; */
}
.all-pics-post{
    background-color: #fff;
border-radius: .5rem;
}
@media(max-width:68.75em){    
    .center-side{
    width: 30rem;
    margin-left:11% ;
    position: relative;
    top: 3rem;
    }
   }
@media(max-width:59.375em){    
    .center-side{
    width: 30rem;
    margin-left:8% ;
    position: relative;
    top: 3rem;
    }
   }
@media(max-width:56.25em){    
    .center-side{
    width: 30rem;
    margin-left:auto ;
    position: relative;
    top: 3rem;
    }
   }
@media(max-width:31.25em){    
    .center-side{
    width: 100%;
    margin-left:auto ;
    position: relative;
    top: 3rem;
    font-size: 97%;    
}
}
.fb-posts-2{
    border-radius: 5.5rem !important;
}
.fb-dp{
    width: 8%;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: .2rem solid #1877F2;
    cursor: pointer;
}
.user-name{
    display: inline;
    position: relative;
    top: -.4rem;
    left: .4rem;
    cursor: pointer;
}
/* @media(max-width:26.25em){    
.user-name{
    display: inline;
    position: relative;
    top: 0rem;
    left: .4rem;
    cursor: pointer;
    }
    } */
.post-date{
    font-size: 80%;
    display: inline;
    position: relative;
    top: .7rem;
    left: -5.7rem;
    cursor: pointer;
}

/* @media(max-width:26.25em){        
.post-date{
    font-size: 80%;
    display: inline;
    position: relative;
    top: -.3rem;
    left: -5.6rem;
    cursor: pointer;
}
} */
.upload-pic{
    width: 100%;
    margin-bottom: .5rem;
    cursor: pointer;
}

.like{
    margin-left: 1rem;
    font-size :70%;
    color: #fff;
    background-color: #1877F2;
    padding: .3rem;
    border-radius: 50%;
    cursor: pointer;
}
.heart{
    font-size :70%;
    color: #fff;
    background-color: red;
    padding: .3rem;
    border-radius: 50%;
    cursor: pointer;
}
.like-name{
    display: inline;
    /* font-size: 110%; */
    color: rgb(80, 74, 74);
    cursor: pointer;
}
.comments{
    display: block;
float: right;
margin-right:1rem ;
}
   
.coment-line{
    color: rgb(80, 74, 74);
width: 90%;
margin: auto;
margin-top:.6rem;
margin-bottom: .7rem;
}
.feed-back{
    display: inline;
color: rgb(80, 74, 74);
margin-left: 17%;
font-size: 105%;
cursor: pointer;
}
.last-post{
margin-bottom: 5rem;
padding-bottom: 1rem;
}
.feed-back:active,
.feed-back:hover,
.feed-back-2:active,
.feed-back-2:hover,    
.feed-back-3:active,
.feed-back-3:hover {
    color: #1877F2;
}
@media(max-width:30em){    
.feed-back{
display: inline;
color: rgb(80, 74, 74);
margin-left: 12%;
font-size: 105%;
cursor: pointer;
}
}
@media(max-width:25.3125em){    
.feed-back{
display: inline;
color: rgb(80, 74, 74);
margin-left: 8%;
font-size: 105%;
cursor: pointer;
}
}
@media(max-width:21.8175em){    
.feed-back{
display: inline;
color: rgb(80, 74, 74);
margin-left: 5%;
font-size: 105%;
cursor: pointer;
}
}
.feed-back-2{
 display: inline;
    color: rgb(80, 74, 74);
    margin-left: 13%;
    font-size: 105%;
    cursor: pointer;
    }
    
.feed-back-3{
    display: inline;
    color: rgb(80, 74, 74);
    margin-left: 13%;
    font-size: 105%;
    cursor: pointer;
}
.space{
    margin-top: .5rem;
background-color: rgb(241, 241, 252) !important;
height: 2rem !important;
width: 101%;
position: relative;
left: -.1rem;
}

/* Right side */
.right-side{
width:30% !important;
/* margin-top: -1.3rem; */
padding-top: 4rem;
color: rgb(46, 42, 42);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
position: fixed;
left: 69.5%;
top: 1.9rem;
}
@media(max-width:68.75em){    
    .right-side{
    width:40% !important;
    padding-top: 4rem;
    color: rgb(46, 42, 42);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    position: fixed;
    left: 56%;
    top: 1.9rem;
    margin-left: 2rem;
    }
    }
@media(max-width:56.25em){    
    .right-side{
        display: none;
    width:40% ;
    padding-top: 4rem;
    color: rgb(46, 42, 42);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    position: fixed;
    left: 56% !important;
    top: 1.9rem;
    }
    }
    
.Contacts{
    text-align: center;
    margin-left: 6.4rem;
/* margin-top: -.7rem; */
}
.contact-heading{
    font-size: 115%;
    display: inline;
/* color: rgb(46, 42, 42) !important; */
color: rgb(98, 89, 89) !important;

}
.contract-icon{
    margin-left: 18%;
    font-size: 90%;
}
@media(max-width:68.75em){        
    .contract-icon{
        position: relative;
        left:10%;
    margin-left: 25%;
    font-size: 90%;
    }
    }

.contact-icon{
    margin-left: 1rem;
    color: rgb(98, 89, 89) !important;
}
.contact-icon:hover{
    border-radius: 50%;
    background-color: rgb(231, 231, 255);
    padding: .55rem;
    font-size: 80%;
    cursor: pointer;
    }
.contact-name{
    display: inline;
    position: relative;
    top: .7rem;
    left: .3rem;
}
.contact-pic{
    margin-top:1.4rem;
    /* padding-bottom: .5rem; */
    margin-bottom: .05rem;
    margin-left:33.2%;
    width: 2rem;
    height: 50%;
    border-radius: 50%;
}